.cuadrado_rojo {
    width: 200px;
    height: 200px;
    background-color: red;
}
.cuadrado_verde{
    width: 300px;
    height: 300px;
    background-color: green;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 200%;
    }
  
  td, th {
    border: 3px solid #ffb7b7;
    text-align: left;
    padding: 0px;
  }
  
  tr:nth-child(even) {
    background-color: #ffc3c3;
    opacity: 0.3;
  }

.contenedor .color_amarillo {
  background-color: brown;
}

.color_amarillo{
  background-color: yellow;
}

.color_azul{
  background-color: blue;
}

.contenedor .cuadrado{
  width: 200px;
  height: 200px;
}

.fontsize20{
  font-size: 20px;
}

.fontsize20.titulo{
  font-size: 24px;
  font-weight: bold;
}

#C3{
  background-color: #730099;
}

.cuadrado3{
  height: 50px;
  width: 50px;
  padding: 25px;
  background-color: yellowgreen;
}
.cuadrado2{
  height: 100px;
  width: 100px;
  padding: 50px;
  background-color: tomato;
}

.cuadrado1{
  height: 200px;
  width: 200px;
  padding: 50px;
  background-color: teal;
}

.cuadrado_test_tamano{
  height: 100px;
  width: 100px;
  background-color: darkslategrey;
}

.cuadrado_test_hover{
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: yellow;
  border-radius: 50px;
}

.add_button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #4479BA;
    color: #FFF;
    padding: 8px 12px;
    text-decoration: none;
}

.add_button:hover {
  color: black;;
}
.form_list {
  padding: 20px;
}

input[type=radio],
input.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}


.radio-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
}
  
form fieldset {
    width: 155px;
}