.cuadrado_rojo {
    width: 200px;
    height: 200px;
    background-color: red;
}
.cuadrado_verde{
    width: 300px;
    height: 300px;
    background-color: green;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 200%;
    }
  
  td, th {
    border: 3px solid #ffb7b7;
    text-align: left;
    padding: 0px;
  }
  
  tr:nth-child(even) {
    background-color: #ffc3c3;
    opacity: 0.3;
  }

.contenedor .color_amarillo {
  background-color: brown;
}

.color_amarillo{
  background-color: yellow;
}

.color_azul{
  background-color: blue;
}

.contenedor .cuadrado{
  width: 200px;
  height: 200px;
}

.fontsize20{
  font-size: 20px;
}

.fontsize20.titulo{
  font-size: 24px;
  font-weight: bold;
}

#C3{
  background-color: #730099;
}

.cuadrado3{
  height: 50px;
  width: 50px;
  padding: 25px;
  background-color: yellowgreen;
}
.cuadrado2{
  height: 100px;
  width: 100px;
  padding: 50px;
  background-color: tomato;
}

.cuadrado1{
  height: 200px;
  width: 200px;
  padding: 50px;
  background-color: teal;
}














