<div class="">

	<div class="cuadrado1">
		<div class="cuadrado2">
      <div class="cuadrado3">
      </div>
    </div>
	</div>

</div>

<div class="contenedor">

	<div class="cuadrado color_amarillo">
		<div class="fontsize20 titulo">
      cuadrado 1
    </div>
    <div class="fontsize20 bodytext">
      textotextotextotextotextotextotextotexto
    </div>
	</div>

	<div class="cuadrado color_azul"></div>

	<div id="C3" class="cuadrado"></div>

</div>

<img src="https://www.masgamers.com/wp-content/uploads/2019/04/logo-age-of-empires-2-definitive-edition-825x478.png" alt="logo age of empire"/>

<h1>
	Partidas Ganadas en TG
</h1>
<table>
	<tr>
		<th>Name de steam</th>
		<th>win-lose</th>
		<th>win%</th>
	</tr>
	<tr>
		<td>Tosky</td>
		<td>151-178</td>
		<td>46%</td>
	</tr>
	<tr>
		<td>Tajik</td>
		<td>634-605</td>
		<td>51%</td>
	</tr>
	<tr>
		<td>Ikki</td>
		<td>232-310</td>
		<td>43%</td>
	</tr>
	<tr>
		<td>Sikor</td>
		<td>122-156</td>
		<td>44%</td>
	</tr>
	<tr>
		<td>El GuAnAcO</td>
		<td>224-356</td>
		<td>356</td>
	</tr>
	<tr>
		<td>El pepe</td>
		<td>69-93</td>
		<td>43%</td>
	</tr>
</table>
