<div class="cuadrado_rojo">
    rojo
</div>

<div class="cuadrado_verde">
    verde
</div>

 <h1> Integrantes del grupo </h1>
  <table>
    <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Country</th>
    </tr>
    <tr>
    <td>Mendez Matias</td>
    <td>22</td>
    <td>Argentina</td>
    </tr>
    <tr>
    <td>Vito</td>
    <td>99</td>
    <td>Argentina</td>
    </tr>
    <tr>
    <td>Seba</td>
    <td>99</td>
    <td>Argentina</td>
    </tr>
    <tr>
    <td>Jere</td>
    <td>99</td>
    <td>Argentina</td>
    </tr>
    <tr>
    <td>Mati</td>
    <td>99</td>
    <td>Argentina</td>
    </tr>
    <tr>
    <td>Cristian</td>
    <td>99</td>
    <td>Argentina</td>
    </tr>
  </table>
  