<div class="cuadrado_rojo">
    rojo
</div>

<div class="cuadrado_verde">
    verde
</div>

<form action="http://drupallocal.lndo.site/basic_test_page" methopd="post">
  <imput type="text"name="username"/><br/>
  <imput type="password"name="username"/><br/>
  <imput type="submite"value="Submite">
  </form>
  