<div class="cuadrado_rojo">
    rojo
</div>

<div class="cuadrado_verde">
    verde
</div>

<form>
  <imput type="text"name="username"/><br/>
  <imput type="password"name="username"/><br/>
  <imput type="submite"value="Submite">
</form>
  