<form action="/form_insert">
	<div>
		<label for="nombre">Nombre:</label>
		<input type="text" id="nombre" name="nombre" placeholder="Juan" required>
	</div>
	<div>
		<label for="apellido">Apellido:</label>
		<input type="text" id="apellido" name="apellido" placeholder="Perez" required>
	</div>
	<div>
		<label for="nacimiento">Fecha de Nacimiento:</label>
		<input type="date" id="nacimiento" name="nacimiento" required>
	</div>
	<div>
		<label for="dni">D.N.I:</label>
		<input type="number" id="dni" name="dni" required>
	</div>
	<div>
		<label for="cuit">Numero de CUIT:</label>
		<input type="number" id="cuit" name="cuit" required>
	</div>
	<fieldset>
		<div>
			<legend>Estado Civil<legend></div>
				<div>
					<input type="radio" id="soltero" name="estado_civil" checked value="1" required>
					<label class="radio.inline" for="soltero">Soltero</label>
					<input type="radio" id="casado" name="estado_civil" value="2" required>
					<label class="radio.inline" for="casado">Casado</label>
					<input type="radio" id="otro" name="estado_civil" value="3" required>
					<label class="radio.inline" for="otro">Otro</label>
				</div>
			</fieldset>

			<div>
				<label for="hijos">Hijos:</label>
				<input type="number" id="hijos" name="hijos" placeholder="Solo Numeros" required>
			</div>

			<fieldset>
				<div>
					<legend>Sexo<legend></div>
						<div>
							<input type="radio" id="hombre" name="genero" value="1" checked required>
							<label for="hombre">Hombre</label>
							<input type="radio" id="mujer" name="genero" value="2" required>
							<label for="mujer">Mujer</label>
							<input type="radio" id="other" name="genero" value="3" required>
							<label for="other">Otro</label>
						</div>
					</fieldset>


					<div id="dropdown">
						<label for="pais">Pais:</label>
						<select id="pais" name="pais"></select>
					</div>

					<div class="ocultar">
						<label for="provincia">Provincia:</label>
						<select id="provincia" name="provincia"></select>
					</div>
					<fieldset>
						<div>
							<label for="localidad">Localidad:</label>
							<input type="text" id="localidad" name="localidad">
						</div>

						<div>
							<label for="calle">Calle:</label>
							<input type="text" id="calle" name="calle" required>
						</div>
						<div>
							<label for="numero">Numero:</label>
							<input type="number" id="numero" name="numero" required>
						</div>

						<div>
							<label for="piso">Piso:</label>
							<input type="numer" id="piso" name="piso" required>
						</div>

						<div>
							<label for="codigo_postal">Codigo Postal:</label>
							<input type="number" id="codigo_postal" name="codigo_postal" required>
						</div>
					</fieldset>

					<div>
						<label for="email">Direccion de Email:</label>
						<input type="email" id="email" name="email" required>
					</div>

				<div>
					<label for="telefono_celular">Ingresu su Numero de Celular:</label>
					<input type="tel" id="telefono_celular" name="telefono_celular" placeholder="011-1234-5678" required>
				</div>

				<div>
					<label for="telefono_fijo">Ingresu su Numero de Telefono Fijo:</label>
					<input type="tel" id="telefono_fijo" name="telefono_fijo" placeholder="4-1234-5678" required>
				</div>

					<input type="submit" value="Submit">
					<input type="reset">
				</form>

				<div id='pais_prov' style="display:none;">
					{% for var in vars.paises %}
						<li attr-name="{{ var.name }}" attr-id="{{ var.id }}"></li>
					{% endfor %}
				</div>
