{#{ dump(vars) }#}
<form id="formulario" action="/save_new_form" method="post">

	<fieldset style="margin-right: 900px;">
		<input type="text" placeholder="Escribe tu nombre" name="nombre" required autofocus title="Ingresa tu nombre porfavor">
		<input type="text" placeholder="Escribe tu apellido" name="apellido" required autofocus title="Ingresa tu apellido porfavor">
		<input type="text" placeholder="Escribe tu nombre de usuario" name="usuario" required autofocus title="Ingresa tu usuario porfavor">
		<input type="email" placeholder="Escribe tu email" name="email" required autofocus title="Ingresa tu email porfavor">
	</fieldset>

	<input type="submit" id="button_send" name="button_send" value="Enviar formulario">
</form>


<table class = "aligne" width="103%" border-collapse: "collapse" cellspacing="0" cellpadding="0">
	<tr style="background-color:#4CAF50">
		<th>Nombre</th>
		<th>Apellido</th>
		<th>Usuario</th>
		<th>Email</th>
	</tr>
</table>


<table id="table_body" width="100%" border-collapse: "collapse" cellspacing="0" cellpadding="0">
	{% for var in vars %}
		<tr>
			<td>{{ var.nombre }}</td>
			<td>{{ var.apellido }}</td>
			<td>{{ var.usuario }}</td>
			<td>{{ var.email }}</td>
		</tr>

	{% endfor %}
</table>
{#{ editar el tqig para que le envie una tabla con los determinados rows, en el table body) }#}
